{% block filter %}
  {% if filter.filter is not empty %}
    {% set clsName = ['bsw-filter-form', filter.showLabel ? null : 'bsw-filter-without-label']|joinClass %}
    <a-form
      :class="{'{{ clsName }}': true, 'just-first-load': loadTimes <= 1}"
      :form="filterForm"
      layout="vertical"
      @submit="filterSubmit"
    >
      {% for key, item in filter.filter if item.type|formArea(filterArea ?? null) %}
        <transition
          enter-active-class="animated {{ scaffold.cnf.twigFilterItemAnimateIn }}"
          leave-active-class="animated {{ scaffold.cnf.twigFilterItemAnimateOut }}"
        >
          <a-form-item
            v-show="{{ item.hide ? 'false' : 'true' }} && filterDisplay('{{ key }}')"
            label="{{ filter.showLabel ? item.label : null }}"
            class="bsw-filter-item"
            :style="{ width: '{{ item.width }}' }"
            {% if item.type is iterable %}
              class="bsw-form-iterable"
            {% else %}
              class="bsw-form-{{ item.type.itemName }}"
            {% endif %}
          >
            {% set begin = item.title ? '<a-popover><template slot="content">' ~ item.title ~ '</template>' : null %}
            {% set end = item.title ? '</a-popover>' : null %}
            {% if item.type is iterable %}
              {{ begin|raw }}
              <a-input-group compact>
                {% for form in item.type %}
                  {% include "form/" ~ form.itemName ~ ".html.twig" with {form: form} %}
                {% endfor %}
              </a-input-group>
              {{ end|raw }}
            {% else %}
              {% set form = item.type %}
              {{ begin|raw }}
              {% include "form/" ~ form.itemName ~ ".html.twig" with {form: form} %}
              {{ end|raw }}
            {% endif %}
          </a-form-item>
        </transition>
      {% endfor %}
      {% if filter.showFull|length > filter.maxShow %}
        <a-form-item class="bsw-filter-item bsw-filter-action" label="{{ filter.showLabel ? '　' : null }}">
          <a-button
            type="dashed"
            size="{{ filter.size }}"
            @click="filterToggle"
          >
          <span v-if="filterExpand">
            {{ scaffold.cnf.iconLeft|icon|raw }} {{ filter.textHide|trans({}, 'twig') }}
          </span>
            <span v-else>
            {{ filter.textShow|trans({}, 'twig') }} {{ scaffold.cnf.iconRight|icon|raw }}
          </span>
          </a-button>
        </a-form-item>
      {% endif %}
      {% for item in filter.operates %}
        {% if item.display %}
          <a-form-item class="bsw-filter-item bsw-filter-action" label="{{ filter.showLabel ? '　' : null }}">
            {% include 'form/button.html.twig' with {form: item} %}
          </a-form-item>
        {% endif %}
      {% endfor %}
    </a-form>
  {% endif %}
{% endblock %}