{% block result %}
  {% set maskClosable = result.maskClosable ? 'true' :'false' %}
  {% set clsName = ['bsw-result', result.wrapClsName]|joinClass %}
  <a-modal
    v-model="result.visible"
    :wrap-class-name="'{{ clsName }}' + (typeof result.class === 'undefined' ? '' : (' ' + result.class))"
    :closable="typeof result.closable !== 'undefined' ? result.closable : {{ result.closable ? 'true' : 'false' }}"
    :destroy-on-close="true"
    :transition-name="result.animate || '{{ result.animate }}'"
    :mask="typeof result.mask !== 'undefined' ? result.mask : {{ result.mask ? 'true' : 'false' }}"
    :mask-closable="typeof result.maskClosable !== 'undefined' ? result.maskClosable : {{ maskClosable }}"
    :mask-transition-name="result.maskAnimate || '{{ result.maskAnimate }}'"
    :keyboard="typeof result.keyboard !== 'undefined' ? result.keyboard : {{ result.keyboard ? 'true' : 'false' }}"
    :title="null"
    :z-index="result.zIndex || {{ result.zIndex }}"
    :centered="typeof result.centered !== 'undefined' ? result.centered : {{ result.centered ? 'true' : 'false' }}"
    :width="result.width || {{ result.width|vueType }}"
    :body-style="modal.bodyStyle || {{ result.bodyStyleJson }}"
    :mask-style="modal.maskStyle || {{ result.maskStyleJson }}"
    :dialog-style="modal.dialogStyle || {{ result.dialogStyleJson }}"
    :footer="null"
  >
    <a-result :status="typeof result.status !== 'undefined' ? result.status : '{{ result.status }}'">
      {% set title = result.title|trans({}, 'twig') %}
      <div slot="title" v-html="typeof result.title !== 'undefined' ? result.title : '{{ title }}'"></div>
      {% set subTitle = result.subTitle|trans({}, 'twig') %}
      <div slot="subTitle" v-html="typeof result.subTitle !== 'undefined' ? result.subTitle : '{{ subTitle }}'"></div>
      <a-icon
        slot="icon"
        v-if="result.icon && result.icon.split(':')[0] === 'a'"
        :type="result.icon.split(':')[1]"
      ></a-icon>
      <b-icon
        slot="icon"
        v-else-if="result.icon && result.icon.split(':')[0] === 'b'"
        :type="result.icon.split(':')[1]"
      ></b-icon>
      <template slot="extra">
        <div
          class="bsw-result-data"
          :data-bsw.prop="{ok: result.ok, cancel: result.cancel, extra: result.extra}"
        ></div>
        <a-button
          v-if="typeof result.cancelShow !== 'undefined' ? result.cancelShow : {{ result.cancelShow ? 'true' : 'false' }}"
          type="default"
          @click="bsw.resultOnCancel"
          v-text="result.cancelText || '{{ result.cancelText|trans({}, 'twig') }}'">
        </a-button>
        <a-button
          v-if="typeof result.okShow !== 'undefined' ? result.okShow : {{ result.okShow ? 'true' : 'false' }}"
          :type="result.okType || '{{ result.okType }}'"
          @click="bsw.resultOnOk"
          v-text="result.okText || '{{ result.okText|trans({}, 'twig') }}'">
        </a-button>
      </template>
    </a-result>
  </a-modal>
{% endblock %}