{% extends 'layout/empty.html.twig' %}
{% set tplBodyClass = 'bsw-body-login' %}

{% use 'layout/nothing.html.twig' %}

{% block stylesheets %}
  .ant-spin-container {{ scaffold.cnf|imageStyle('login', true) }}
{% endblock %}

{% block content %}
  {% block loginBefore %}{% endblock %}
  {% block login %}
    <p class="bsw-hide" v-init:data-form-items='{needPassword: {{ password is defined ? 'constTrue' : 'constFalse' }}, needGoogleCaptcha: {{ googleCaptcha is defined ? 'constTrue' : 'constFalse' }}}'></p>
    <div class="{{ ['bsw-login-container', scaffold.cnf.loginContainerClass ?? null]|joinClass }}">
      <div class="header">
        <a href="{{ void }}">
          <img src="{{ scaffold.cnf.appLogo }}{{ v }}">
          {% set appName = scaffold.cnf.appName ?? 'Application' %}
          <span>{{ appName }}</span>
        </a>
      </div>
      <a-form
        :form="loginForm"
        class="login-form"
        @submit="userLogin"
      >
        <a-form-item>
          {% include "form/" ~ account.itemName ~ ".html.twig" with {form: account} %}
        </a-form-item>
        {% if password is defined %}
          <a-form-item>
            {% include "form/" ~ password.itemName ~ ".html.twig" with {form: password} %}
          </a-form-item>
        {% endif %}
        <a-form-item class="bsw-captcha-item">
          {% include "form/" ~ captcha.itemName ~ ".html.twig" with {form: captcha} %}
          <img class="bsw-captcha" src="{{ path(scaffold.cnf.routeCaptcha) }}">
        </a-form-item>
        {% if googleCaptcha is defined %}
          <a-form-item>
            {% include "form/" ~ googleCaptcha.itemName ~ ".html.twig" with {form: googleCaptcha} %}
          </a-form-item>
        {% endif %}
        <a-form-item>
          {% include "form/" ~ submit.itemName ~ ".html.twig" with {form: submit} %}
        </a-form-item>
      </a-form>
    </div>
  {% endblock %}
  {% block loginAfter %}{% endblock %}
{% endblock %}