{% extends 'layout/blank.html.twig' %}
{% set bswClsPersistence = scaffold.get.bswClsPersistence ?? null %}
{% set tplContentClass = ['bsw-content-persistence', tplContentChildrenClass ?? null, bswClsPersistence]|joinClass %}

{% use 'layout/nothing.html.twig' %}
{% use 'javascript/persistence.md.twig' %}

{% block page %}
  {% set persistenceArea = 'good' %}
  {% block persistenceBefore %}{% endblock %}
  {% block persistence %}
    {% set view = scaffold.get.view ?? false %}
    <div class="{{ ['bsw-persistence', view ? 'bsw-persistence-view' : null]|joinClass }}">
      <a-form
        :class="{'bsw-persistence-form': true, 'just-first-load': loadTimes <= 1}"
        :form="persistenceForm"
        :style="{{ persistence.styleJson }}"
        @submit="persistenceSubmit"
      >
        <!-- xs < sm < md < lg < xl < xxl -->
        {% set small = scaffold.iframe ? 'sm' : 'md' %}
        {% set large = scaffold.iframe ? 'md' : 'lg' %}
        {% for field, item in persistence.record if item.type|formArea(persistenceArea ?? null) %}
          {% set form = item.type %}
          {% set wrapperColumn = item.column ?: (persistence.totalColumn - persistence.labelColumn) %}
          {% set formClass = form.class ? 'bsw-item-' ~ form.class : null %}
          {% set fieldHide = "persistenceFieldHideNow." ~ form.key %}
          {% set renderHide = item.hide ? 'true' : 'false' %}
          <transition
            enter-active-class="animated {{ scaffold.cnf.twigPersistenceItemAnimateIn }}"
            leave-active-class="animated {{ scaffold.cnf.twigPersistenceItemAnimateOut }}"
          >
            <a-form-item
              v-show="typeof {{ fieldHide }} !== 'undefined' ? (!{{ renderHide }} && !{{ fieldHide }}) : !{{ renderHide }}"
              :label-col="{
                {{ small }}: { span: {{ persistence.totalColumn }} },
                {{ large }}: { span: {{ persistence.labelColumn }} }
              }"
              :wrapper-col="{
                {{ small }}: { span: {{ persistence.totalColumn }} },
                {{ large }}: { span: {{ wrapperColumn }} }
              }"
              label="{{ item.label|trans({}, 'twig') }}"
              extra="{{ ((item.tips|trans({}, 'twig')) ~ ',' ~ item.tipsAuto)|trim(',') }}"
              class="{{ ['bsw-form-' ~ form.itemName, formClass]|joinClass }}"
              :style="{{ form.parentStyle }}"
            >
              {% if form.dynamicRow %}
                {{ ('<a-row :key="row" v-for="(record, row) in ' ~ form.varNameForMeta ~ '">')|raw }}
              {% endif %}
              {% set title = ((item.title|trans({}, 'twig')) ~ ',' ~ item.titleAuto)|trim(',') %}
              {% if title %}
                {{ ('<a-popover>')|raw }}
                {{ ('<template slot="content">' ~ title ~ '</template>')|raw }}
              {% endif %}
              {% include "form/" ~ form.itemName ~ ".html.twig" with {form: form} %}
              {% if title %}
                {{ '</a-popover>'|raw }}
              {% endif %}
              {% if form.dynamicRow %}
                {{ ('</a-row>')|raw }}
                {{ ('<a-button type="dashed" :style=\'' ~ form.dynamicRowButtonStyle ~ '\' @click="' ~ form.dynamicRowAdd ~ '">')|raw }}
                {{ ('a:plus'|icon ~ form.dynamicRowLabel|trans({}, 'twig'))|raw }}
                {{ ('</a-button><br>')|raw }}
              {% endif %}
            </a-form-item>
          </transition>
        {% endfor %}
        <a-form-item
          :wrapper-col="{
            {{ small }}: { span: {{ persistence.totalColumn }}, offset: 0 },
            {{ large }}: { span: {{ persistence.totalColumn - persistence.labelColumn }}, offset: {{ persistence.labelColumn }} }
          }"
          :class="{'bsw-persistence-form-operate': true}"
          :style="{{ persistence.operateStyleJson }}"
        >
          {% for form in persistence.operates %}
            {% include 'form/button.html.twig' with {form: form} %}
          {% endfor %}
        </a-form-item>
      </a-form>
    </div>
  {% endblock %}
  {% block persistenceAfter %}{% endblock %}
{% endblock %}

{% block javascript %}
{{ block('persistenceJavascript') }}
{% endblock %}