{% set scene = logic.scene ?? constant(scaffold.abs ~ '::TAG_UNKNOWN') %}
<a-textarea
  v-show="false"
  v-decorator="['{{ form.key }}', { initialValue: `{{ form.value }}`, rules: {{ form.formRules }} }]"
></a-textarea>
<div
  class="{{ ['bsw-ck', form.class]|joinClass }}"
  name="{{ form.name }}"
  :style="{{ form.style }}"
  {% if scene == constant(scaffold.abs ~ '::TAG_PERSISTENCE') %}
    :disabled="(typeof persistenceFieldDisabledNow.{{ form.key }} !== 'undefined') ? (persistenceFieldDisabledNow.{{ form.key }} || {{ form.disabled ? 'true' : 'false' }}) : {{ form.disabled ? 'true' : 'false' }}"
  {% else %}
    :disabled="{{ form.disabled ? 'true' : 'false' }}"
  {% endif %}
  placeholder="{{ form.placeholder }}"
  :data-options.prop="{{ form.options }}"
  {{ form.attributes|raw }}
>
  <div class="bsw-ck-toolbar"></div>
  <div class="bsw-ck-editor">{{ form.value|raw }}</div>
</div>
